snippet apcs "apcs assignment template" b
/**
* $0
* Relevant program description goes here
* Author: Tanay Biradar
* Date: `date +%F`
**/

import java.io.*;
import java.util.*;

public class $0 {
	public static void main(String[] args) {
	}
}

endsnippet
